// Font 'Averia Serif Libre'
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


* {
  font-family: 'Averia Serif Libre', cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(223, 217, 217);

  .main {
    display: flex;
    padding-top: 70px;

    .containerAsideDaEsquerda {
      flex: 1 0 250px;
      display: block;
      width: 550px;
    }

    .containerVitrineDaDireita {
      width: 100%;
      padding: 0px 20px;
      border-radius: 20px;
      margin-right: 5px;
      overflow: hidden;
    }
  }
}
