.discontrair {
    font-weight: bolder;
    
    .background {
        .img_background {
            width: 100%;
            border-radius: 10px;
        }
    }
    p {
        padding: 20px 0px;
    }
}