.discontrair {
    position: absolute;
    top: 13%;
    right: 5%;
    display: block;
    background-color: rgb(230, 223, 223);
    max-width: 70%;
    padding: 20px;
    min-height: 100%;
    border-radius: 20px;
    font-weight: bolder;
    
    .background {
        .img_background {
            width: 100%;
            border-radius: 10px;
        }
    }
    p {
        padding: 20px 0px;
    }
}