#header-home {
  position: fixed;
  background-color: #292525;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  padding: 3px;
  width: 100vw;
  max-height: 60px;
}
#header-home #logo {
  font-size: 2em;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.656);
}
#header-home #navbar {
  display: flex;
  gap: 28px;
}
#header-home #navbar a {
  font: bold 0.8em normal Arial, sans-serif;
  color: white;
  text-decoration: none;
  transition: 0.4s;
}
#header-home #navbar a:hover {
  color: rgb(180, 175, 175);
}
#header-home #hamburguer {
  display: none;
}
#header-home .container-fluid {
  position: relative;
  z-index: 999;
  padding: 0;
}
#header-home .container-fluid #offcanvasNavbar {
  background-color: transparent;
  color: white;
  width: 100vw;
  backdrop-filter: blur(8px);
}
#header-home .container-fluid #offcanvasNavbar .offcanvas-body .itens_menu {
  display: block;
  border-width: 2px;
  font-size: 1.1em;
  margin: 10px 0px;
  text-align: center;
}
#header-home #butao-github {
  font-size: 0.9em;
  font-weight: bold;
  border-width: 2px;
  box-shadow: 3px 3px 3px black;
}

@media screen and (max-width: 900px) {
  #header-home {
    justify-content: space-evenly;
  }
  #header-home #logo {
    font-size: 1.7em;
  }
  #header-home #navbar {
    gap: 20;
  }
  #header-home #navbar a {
    font-size: 0.8em;
  }
  #header-home #butao-github {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  #header-home {
    padding: 10px;
  }
}
@media screen and (max-width: 650px) {
  #header-home {
    justify-content: left;
  }
  #header-home #logo {
    padding-left: 20px;
  }
  #header-home #navbar {
    display: none;
  }
  #header-home #hamburguer {
    display: inline-block;
  }
  #header-home #hamburguer #menu {
    position: absolute;
    top: 10px;
    right: 10%;
    z-index: 9999;
    padding: 5px;
  }
  #header-home #hamburguer #menu .tracos {
    background-color: red;
    margin: 5px 0px;
    transition: 0.1s;
    width: 40px;
    height: 5px;
  }
  #header-home input[type=checkbox]:checked ~ label #hamburguer #itens {
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(222, 220, 220, 0.876);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transition: transform 2s, height 2s;
  }
  #header-home input[type=checkbox]:checked ~ label #hamburguer #menu {
    position: absolute;
    top: 10px;
  }
  #header-home input[type=checkbox]:checked ~ #hamburguer label #menu #traco-1 {
    position: absolute;
    top: 10px;
    transform: rotate(45deg);
    transition: 0.7s;
  }
  #header-home input[type=checkbox]:checked ~ #hamburguer label #menu #traco-2 {
    transform: translateX(-100px);
    visibility: hidden;
    transition: 0.1s;
  }
  #header-home input[type=checkbox]:checked ~ #hamburguer label #menu #traco-3 {
    position: absolute;
    top: 10px;
    transform: rotate(-45deg);
    transition: 0.7s;
  }
}
#scroll {
  width: 100vw;
}
#scroll #barra-de-scroll {
  background-color: rgb(255, 0, 0);
  height: 3px;
  width: 0%;
  position: fixed;
  top: 52px;
  z-index: 11;
}

/*# sourceMappingURL=style.css.map */
