// Padrão
$preto : #000000;
$branco : #ffffff;

// Cores tema Dark
// $azul-escuro: #031b3d;
// $ciano: #31D2F2;
$verde: rgb(0, 210, 38);

// Cores tema Light
$cinza-verde: rgb(46, 137, 140);
$ciano-claro: rgb(0, 255, 229);
$cinza-escuro: #A2A0A3;
$cinza-claro: #EDEBF0;