@import "../../style/colors.scss";


.sectionConvite {
    background-color: rgb(31, 30, 30);
    padding: 40px 20px;

    .containerConvite {
        margin: auto;
        width: 88vw;
        max-width: 1100px;

        .subTitle {
            font-size: 1.2em;
            color: $verde;
            padding: 0px;
            margin: 0px;
        }
        .title {
            color: $branco;
            padding-bottom: 15px;
        }

        .cards {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            height: 100%;
            margin: 0px 20px;

            .cardConvite {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                background-color: rgba(255, 255, 255, 0.093);
                color: white;
                max-width: 500px;
                padding: 20px;
                border-radius: 20px;
                border: solid 1px rgb(255, 255, 255);
                transition: .5s;
    
                .titleConvite {
                    padding-top: 20px;
                    transition: .5s;
                }
    
                .img {
                    border-radius: 30px;
                }
    
                button {
                    margin-top: 10px;
                    border-radius: 40px;
    
                    a {
                        text-decoration: none;
                        color: $verde;
                        transition: 1s;
                    }

                    &:hover {
                        a {
                            color: black;
                        }
                    }
                }


                &:hover {
                    scale: 1.01;

                    .titleConvite {
                        scale: 1.05;
                    }
                }
            }
        }
    }


    &#Light {
        background-color: rgb(222, 220, 220);

        .containerConvite {
            .subTitle {
                color: rgb(44, 43, 43);
            }

            .cards {
                .cardConvite {
                    background-color: rgba(0, 238, 255, 0.143);
                    color: rgb(0, 0, 0);
                    border: solid 2px rgb(0, 0, 0);

                    .img {
                        border: solid 2px black;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1100px) {
    .sectionConvite {
        .containerConvite {
            .cards {
                flex-direction: column;

                .cardConvite {
                    max-width: 90vw;
    
                    .img {
                        max-height: 300px;
                    }
                }
            }
        }
    }
}