
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


// IMPORTANDO AS [VAREAVEIS DE CORES]
@import "./components/variaveis/variavel.scss";

// IMPORTANDO O ESTILO DO [HEADER]
@import "./components/header/header.scss";

// IMPORTANDO O ESTILO DO [SOBRE MIM]
@import "components/main/1_sobreMim/SobreMim.scss";

// // IMPORTANDO O ESTILO DO [HABILIDADES]
@import "components/main/2_habilidades/Habilidades.scss";



.container-hmf {
    scroll-behavior: smooth;
}

.container-hmf {
    background-color: $preto-absoluto;
    font-size: 1.1em;
}
.h1 {
    font-size: 2em;
}
h2 {
    color: white;
}
.span-LetraVermelha {
    color: $vermelho;
}

// Removendo o icone do input checkbox
input[type="checkbox"] {
    visibility: hidden;
}