@import "../../style/colors.scss";




.home_sobreMim {
    background-image: linear-gradient(to bottom, #2a2828ea, #151515e9), 
    url(/fundo-de-codigo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .container_sobreMim {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: column;
        // justify-content: center;
        padding-top: 70px;
        color: $branco;
        max-width: 1100px;
        width: 93vw;
        min-height: 100vh;
        margin: auto;

        .olhos_sobreMim {
            position: absolute;
            top: 80px;
            width: 50px;
            padding: 10px;
            border-radius: 50%;
    
            &:hover {
                scale: 1.2;
                // background-color: rgba(0, 0, 0, 0.053);
                // border: solid 1px $verde;
            }
        }
    
        .divText {
            &:hover {
                .title {
                    scale: 1.02;
                    border-radius: 10px;
                    border-bottom: solid 10px rgba(0, 0, 0, 0.14);
                }
            }
        }
        .subTitle {
            font-size: 1.1em;
            margin: 0px;
            color: $verde;
        }
        .title {
            margin: 0px 0px 20px 0px;
            font-weight: bold;
            font-size: 2.5em;
            transition: .3s;
        }
        .descrition {
            font-weight: bold;
            font-size: 1.3em;
            padding-bottom: 10px;
        }
    }

    .img_programador {
        border-radius: 50%;
        max-width: 500px;
    }


    &#Light {
        background-image: linear-gradient(to bottom, #e0dedee5, #fffbfbcc), 
        url(/fundo-de-codigo.jpg);

        .container_sobreMim {
            color: $cinza-verde;

            .subTitle {
                font-size: 1.1em;
                color: rgb(116, 119, 116);
            }
        }
    }
}


@media screen and (max-width: 1030px) {
    
    .home_sobreMim {
        .container_sobreMim {
            justify-content: left;

            .img_programador {
                position: absolute;
                right: 0;
                top: 55%;
                transform: translateY(-50%);
                max-width: 500px;
                z-index: 1;
                opacity: 20%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    
    .home_sobreMim {
        .container_sobreMim {
            flex-direction: column-reverse;
            gap: 30px;
            min-height: 10vh;
            padding: 100px 0px 50px 0px;

            .container_img_programador {
                text-align: center;

                .img_programador {
                    position: relative;
                    opacity: 90%;
                    width: 80%;
                    transform: translateY(0);
                    margin: auto;
                }
            }

            .title {
                font-size: 1.8em;
            }
            .descrition {
                font-weight: bold;
                font-size: 1em;
                padding-bottom: 10px;
            }
        }
    }
}



