@import "../../style/colors.scss";




.home_sobreMim {
    background-image: linear-gradient(to bottom, #2a2828ea, #151515e9), 
    url(/fundo-de-codigo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .container_sobreMim {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: column;
        // justify-content: center;
        padding-top: 70px;
        color: $branco;
        max-width: 1100px;
        width: 93vw;
        height: 100vh;
        margin: auto;

        .olhos_sobreMim {
            position: absolute;
            top: 80px;
            width: 50px;
            padding: 10px;
            border-radius: 50%;
    
            &:hover {
                scale: 1.2;
                // background-color: rgba(0, 0, 0, 0.053);
                // border: solid 1px $verde;
            }
        }
    
        .subTitle {
            font-size: 1.1em;
            margin: 0px;
            color: $verde;
        }
        .title {
            margin: 0px 0px 20px 0px;
            font-weight: bold;
            font-size: 2.5em;
        }
        .descrition {
            // font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 1.3em;
            padding-bottom: 10px;
        }
    }

    .img_programador {
        border-radius: 50%;
        max-width: 500px;
    }


    &#Light {
        background-image: linear-gradient(to bottom, #e0dedee5, #fffbfbcc), 
        url(/fundo-de-codigo.jpg);

        .container_sobreMim {
            color: $cinza-verde;

            .subTitle {
                font-size: 1.1em;
                color: rgb(116, 119, 116);
            }
        }
    }
}


@media screen and (max-width: 1030px) {
    
    .home_sobreMim {
        .container_sobreMim {
            justify-content: left;

            .img_programador {
                position: absolute;
                right: 0;
                top: 55%;
                transform: translateY(-50%);
                max-width: 500px;
                z-index: 1;
                opacity: 20%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    
    .home_sobreMim {
        .container_sobreMim {
            flex-direction: column-reverse;
            gap: 30px;

            .container_img_programador {
                text-align: center;

                .img_programador {
                    opacity: 90%;
                    position: relative;
                    width: 80%;
                    margin: auto;
                }
            }

            .title {
                font-size: 1.8em;
            }
            .descrition {
                font-weight: bold;
                font-size: 1em;
                padding-bottom: 10px;
            }
        }
    }
}































// @keyframes img-flutuante {
//     0% {
//         transform: translateY(10px);
//     }
//     50% {
//         transform: translateY(-10px);
//     }
//     100% {
//         transform: translateY(10px);
//     }
// }


// #sobreMim {
//     display: flex;
//     align-items: center;
//     font-size: 1em;
//     font-weight: bold;
//     background-image: linear-gradient(to top, #02132B, #021431);
//     color: aqua;
//     max-width: 100vw;
//     min-height: 90vh;
//     padding-top: 70px;

//     #divAnimaçãoHeader {
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         text-align: justify;
//         flex-wrap: wrap;

//         #btnMaisSobreMim {
//             display: none;
//         }
//     }

//     #smEsquerda {
//         text-align: center;
//         padding: 10px;
//         border-radius: 30%;

//         #imgFlutuante {
//             animation-name: img-flutuante;
//             animation-duration: 5s;
//             animation-iteration-count: infinite;
//             padding: 25px;
//             border: 1.5px solid transparent;
//             border-radius: 20%;
//             max-width: 330px;
//         }
//     }
    

//     #smDireita {
//         flex: 0 1 600px;
//         padding: 10px;
        
//         #texto {
//             display: inline;
//         }

//         .icone_aspas {
//             width: 15px;
            
//             &#aspa2 {
//                 transform: rotate(160deg);
//             }
//         }
//     }

//     // TEMA CLARO
//     &#Light {

//     }
// }






// @media screen and (max-width: 1100px) {
//     #sobreMim {
//         #div-animação-header {
//             justify-content: center;
//         }
//         #smDireita {
//             padding: 10px 30px 20px 30px;
//         }  
//     }
// }


// @media screen and (max-width: 700px) {
//     #sobreMim {
//         #divAnimaçãoHeader {
//             text-align: left;

//             #labelMaisSobreMim {
//                 display: block;

//                 #btnMaisSobreMim {
//                     margin: 15px 0px;
//                     display: block;
//                     width: 92vw;
                    
//                     padding: 10px -30px 10px 0px;
//                 }
//             }
//         }


//         #maisSobreMim:checked ~ #smDireita #textoDescartavel2 {
//             display: inline;
//         }

        
//         #textoDescartavel2 {
//             display: none;
//         }
//     }
// }

// @media screen and (max-width: 457px) {
//     #sobreMim {
//         #smEsquerda {
//             #imgFlutuante {
//                 max-width: 250px;
//             }
//         }

//         #textoDescartavel1 {
//             display: none;
//         }

//         #maisSobreMim:checked ~ #smDireita #textoDescartavel1 {
//             display: inline;
//         }
//     }
// }