#apresentacao {
    background: black url(../src/assets/rosas-ia.jpg) center center no-repeat;
    background-size: cover;
    color: #ffffff;
    font-size: 1.1em;
    padding: 10vh 10px 20px 10px;
    height: 50vh;
    max-height: 400px;

    p {
        font-weight: bold;
        max-width: 450px;
    }
}