#apresentacao {
    background: black url(../src/assets/rosas-ia.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    padding: 10vh 10px 20px 10px;
    height: 40vh;
    max-height: 300px;

    p {
        color: rgb(201, 201, 201);
        font-weight: bold;
    }
}