@import "../../style/colors.scss";


.scroll {
    width: 100vw;

    .barra_de_scroll {
        background-color: $verde;
        height: 1.8px;
        width: 0%;
        position: fixed;
        top: 49px;
        z-index: 999;
    }

    &#barraLight {
        .barra_de_scroll {
            background-color: black;
        }
    }
}