@import "../../style/colors.scss";
@import "../../style/overall.scss";


.header_Home {
    background-image: linear-gradient(to bottom, rgba(55, 53, 53, 0.796), rgb(0, 0, 0));
    width: 100vw;
    position: fixed;
    border-bottom: solid .5px $cinza-verde;
    z-index: 999;

    .container_Header {
        color: $verde;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 3px;
        max-width: 1100px;
        margin: auto;
        height: 50px;
        z-index: 999;
        transition: .5s;
    }
    


    #logo {
        padding-top: 5px;
        cursor: pointer;
        font-size: 1.9em;
    }


    #navbar{
        display: flex;
        gap: 28px;

        .aspas_Navbar {
            color: transparent;
        }

        a {
            font: bold 0.8em normal Arial, sans-serif;
            color: $branco;
            text-decoration: none;
            transition: .4s;

            &:hover {
                color: $verde;
                scale: 1.08;

                .aspas_Navbar {
                    color: $verde;
                }
            }
        }
    }

    #hamburguer {
        display: none;

        #menu {
            position: absolute;
            top: 5px;
            right: 10%;
            z-index: 9999;
            padding: 5px;

            .tracos {
                background-color: $verde;
                margin: 5px 0px;
                transition: .1s;
                width: 35px;
                height: 4px;
            }
        }
    }

    #container_Fluid {
        position: relative;
        z-index: 999;
        padding: 0;

        #offcanvas_Navbar {
            background-color: rgba(0, 0, 0, 0.584);
            color: $branco;
            width: 100vw;
            height: 100%;
            padding-top: 40px;
            backdrop-filter: blur(8px);

            #itens_Menu {
                display: block;
                border-width: 2px;
                font-size: 1.1em;
                margin: 10px 0px;
                text-align: center;
            }
        }
    }

    #butao_Repositorios {
        font-size: 1.4em;
        padding: 1px 7px;
        background-color: transparent;
        color: $branco;
        border-width: 0px;
        transition: .3s;
        
        &:hover {
            scale: 1.2;
            color: $verde;
        }
    }


    &#Light {
        background-image: linear-gradient(to bottom, rgba(156, 155, 155, 0.75) ,$cinza-escuro);
        color: $ciano-claro;
        
        #logo {
            color: $branco;
        }

        a {
            color: $branco;
            &:hover {
                color: $ciano-claro;
                .aspas_Navbar {
                    color: $ciano-claro;
                }
            }
        }

        #butao_Repositorios {
            &:hover {
                color: $ciano-claro;
            }
        }

        #menu {
            .tracos {
                background-color: $branco;
                box-shadow: 3px 0px 5px $preto;
            }
        }
    }
}







// ====== deixando o nav mais confortavel ======
@media screen and (max-width: 900px) {
    .header_Home {
        justify-content: space-between;
        padding: 0px 20px;

        #navbar {
            gap: 20;

            a {
                font-size: .8em;
            }
        }

        #butao_Repositorios {
            display: none;
        }
    }
}


// ====== Mudando o leyout do header para menu hamburguer ======

@media screen and (max-width: 710px) {
    .header_Home {

        #navbar {
            display: none;
        }
        
        #hamburguer {
            display: inline-block;
        }


        // ====== Menu fechando em forma de X ======

        input[type="checkbox"]:checked ~ label #hamburguer #menu {
            position: absolute;
            top: 10px;
        }
        input[type="checkbox"]:checked ~ #hamburguer label #menu #tracoOne {
            position: absolute;
            top: 10px;
            transform: rotate(45deg);
            transition: .7s;
        }
        input[type="checkbox"]:checked ~ #hamburguer label #menu #tracoTwo {
            transform: translateX(-100px);
            visibility: hidden;
            transition: .1s;
        }
        input[type="checkbox"]:checked ~ #hamburguer label #menu #tracoThree {
            position: absolute;
            top: 10px;
            transform: rotate(-45deg);
            transition: .7s;
        }
    }
}