@import "../../style/colors.scss";
@import "../../style/overall.scss";

#headerHome {
    position: fixed;
    background-color: $azul-escuro;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    padding: 3px;
    width: 100vw;
    height: 63px;
    z-index: 999;


    #logo {
        cursor: pointer;
        font-size: 2em;
        min-width: 180px;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.656);
    }


    #navbar{
        display: flex;
        gap: 28px;

        .aspasNavbar {
            color: transparent;
        }

        a {
            font: bold 0.8em normal Arial, sans-serif;
            color: white;
            text-decoration: none;
            transition: .4s;

            &:hover {
                color: $ciano;

                .aspasNavbar {
                    color: $ciano;
                }
            }
        }
    }

    #hamburguer {
        display: none;
    }

    #containerFluid {
        position: relative;
        z-index: 999;
        padding: 0;

        #offcanvasNavbar {
            background-color: transparent;
            color: white;
            width: 100vw;
            height: 100%;
            backdrop-filter: blur(8px);

            #itensMenu {
                display: block;
                border-width: 2px;
                font-size: 1.1em;
                margin: 10px 0px;
                text-align: center;
            }
        }
    }

    #butaoRepositorios {
        font-size: 1.4em;
        padding: 1px 7px;
        background-color: transparent;
        color: white;
        border-width: 0px;
        transition: .3s;
        
        &:hover {
            scale: 1.2;
            color: $ciano;
        }
    }
}


// ====== deixando o nav mais confortavel ======
@media screen and (max-width: 900px) {
    #headerHome {
        padding: 0px 20px;

        #navbar {
            gap: 20;

            a {
                font-size: .8em;
            }
        }

        #butaoRepositorios {
            display: none;
        }
    }
}


// ====== Mudando o leyout do header para menu hamburguer ======

@media screen and (max-width: 700px) {
    #headerHome {

        #navbar {
            display: none;
        }
        
        #hamburguer {
            display: inline-block;

            #menu {
                position: absolute;
                top: 10px;
                right: 10%;
                z-index: 9999;
                padding: 5px;

                .tracos {
                    background-color: $ciano;
                    margin: 5px 0px;
                    transition: .1s;
                    width: 40px;
                    height: 5px;
                }
            }
        }


        // ====== Menu itens apareçe e desapareçe ======

        input[type="checkbox"]:checked ~ label #hamburguer #itens {
            position: fixed;
            right: 0;
            top: 0;
            background-color: rgba(222, 220, 220, 0.876);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            transition: transform 2s, height 2s;
        }


        // ====== Menu fechando em forma de X ======

        input[type="checkbox"]:checked ~ label #hamburguer #menu {
            position: absolute;
            top: 10px;
        }
        input[type="checkbox"]:checked ~ #hamburguer label #menu #tracoOne {
            position: absolute;
            top: 10px;
            transform: rotate(45deg);
            transition: .7s;
        }
        input[type="checkbox"]:checked ~ #hamburguer label #menu #tracoTwo {
            transform: translateX(-100px);
            visibility: hidden;
            transition: .1s;
        }
        input[type="checkbox"]:checked ~ #hamburguer label #menu #tracoThree {
            position: absolute;
            top: 10px;
            transform: rotate(-45deg);
            transition: .7s;
        }
    }
}