@import "../../style/colors.scss";


.habilidades {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to top, #000000, #171716);
    color: rgb(71, 71, 71);
    padding: 30px 0px 10px 0px;
    min-height: 100vh;

    .container_habilidades {
        margin: auto;
        width: 90vw;
        max-width: 1100px;
    }

    .subTitle {
        font-size: 1.2em;
        margin: 0px;
        padding-left: 2%;
        color: $verde;
    }
    .title {
        padding-left: 2%;
        color: $branco;
        padding-bottom: 20px;
    }
    

    #conteiner_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 40px;
        padding: 0px 20px;

        .cards { 
            border: 1px solid rgb(101, 99, 99);
            box-shadow: 5px 10px 2px rgba(0, 0, 0, 0.139);
            border-radius: 7px;
            min-width: 200px;
            padding: 10px 20px;
            cursor: pointer;

            span {
                display: flex;
                align-items: center;
                gap: 2px;
                color: rgb(81, 81, 81);
                text-decoration: none;
            }

            .iconHabilits {
                width: 50px;
                border-radius: 10px;
                filter: grayscale(100%);
                transition: .5s;
            }

            &:hover {
                box-shadow: 20px 10px 2px rgba(0, 0, 0, 0.072);
                border: 1px solid rgb(122, 113, 113);
                transition: .7s ease;
                scale: 1.1;

                .iconHabilits {
                    transition: .5s;
                    filter: grayscale(0);
                }
            }
        }
    }


    #btn_mais_habilidades {
        background-color: #171716;
        margin-bottom: 10px;
        display: none;
        width: 100%;
        border: none;


        .setaBTN {
            width: 25px;

            &#setaMostrarMenos {
                transform: rotateX(160deg);
            }
        }

        &:hover {
            background-color: $verde;
        }
    }
    label {
        width: 100%;
        display: block;
    }

    #conteiner_resposta_abilidade {
        color: $branco;
        font-size: 1.1em;
        text-align: center;
        padding: 10px;
    }


    &#temaLight {
        background-image: linear-gradient(to right top, #ffffff, #d4d2d2);
        color: $cinza-verde;

        .subTitle {
            color: rgb(104, 101, 101);
        }
        .title {
            text-shadow: 5px -5px 2px rgba(0, 0, 0, 0.098);
            color: $cinza-verde;
        }


        #conteiner_cards {
            .cards {
                border-color: rgba(86, 78, 78, 0.531);
                box-shadow: 5px -10px 2px rgba(0, 0, 0, 0.139);

                .iconHabilits {
                    filter: grayscale(0);
                }

                span {
                    color: $cinza-verde;
                }

                &:hover {
                    box-shadow: 15px -10px 10px rgba(0, 0, 0, 0.11);
                    border-color: rgb(0, 0, 0);
                }
            }
        }

        #btn_mais_habilidades {
            background-color: rgb(230, 225, 225);
            color: $cinza-verde;
            border: solid .5px white;
            box-shadow: 5px -6px 4px rgba(0, 0, 0, 0.11);

            &:hover {
                background-color: $ciano-claro;
                border-color: transparent;
            }
        }

        #conteiner_resposta_abilidade {
            color: $cinza-verde;
        }
    }
}


@media screen and (max-width: 565px) {
    .habilidades {
        text-align: center;

        #btn_mais_habilidades {
            display: block;
        }

        #conteiner_cards {
            .cards {
                min-width: 220px;
            }
        }
    }
}