@import '../../style/colors.scss';

.sectionContatos {
    font-size: .9em;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #181819;
    color: rgb(255, 255, 255);
    min-height: 93vh;
    padding: 0px 20px;

    .subTitle {
        width: 88vw;
        max-width: 1100px;
        font-size: 1.4em;
        margin: 0px auto;
        padding-left: 2%;
        color: $verde;
    }
    .title {
        width: 88vw;
        max-width: 1100px;
        margin: 0px auto;
        padding-left: 2%;
        color: $branco;
        padding-bottom: 20px;
    }

    #animação_texto_contatos {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        gap: 50px;
        text-align: center;
        

        #copiar_email {
            width: 100%;
            border-color: rgb(255, 255, 255);
            margin: 15px 0px 20px 0px;
            border-radius: 20px;

            &::before {
                width: 200%;
                height: 0;
            }
            &:hover {
                background-color: $verde;
        
                &::before {
                    background-color: $branco;
                    height: 450%;
                    width: 200%;
                }
            }
        }
        
        #footer_cards {
            max-width: 200px;
            font-size: 3em;
            background-color: transparent;
            margin: 5px;
            padding: 5px 20px;
            border: none;

            &::before {
                background-color: $branco;
                height: 150%;
                width: 0%;
            }

            &:hover {
                background-color: $verde;
        
                &::before {
                    background-color: $branco;
                    height: 450%;
                    width: 200%;
                }
            }
        }


        .formulario {
            text-align: left;
            padding: 10px;
            margin-top: 15px;

            h2 {
                margin-bottom: 15px;
            }

            #div_name_email {
                display: flex;
                gap: 20px;

                .input {
                    font-weight: bold;
                    border-radius: 10px;
                    border: none;
                    padding: 10px 20px;
                }
            }

            #div_textarea {

                textarea {
                    font-weight: bold;
                    width: 98%;
                    border-radius: 10px;
                    padding: 10px 20px;
                }
            }

            #submit {
                background-color: transparent;
                color: white;
                font-weight: bold;
                border-radius: 10px;
                border: solid 1.5px white;
                margin: 30px 0px;
                width: 240px;
                padding: 10px 20px;
                transition: .4s;

                &:hover {
                    border: solid 1.5px $verde;
                    color: $verde;
                    scale: 1.1;
                }
            }
        }
    }
}



@media screen and (max-width: 900px) {
    .sectionContatos {
        padding-top: 50px;
        
        #animação_texto_contatos {
            flex-direction: column;
            gap: 0px;
        }
    }
}


@media screen and (max-width: 600px) {
    .sectionContatos {

        #animação_texto_contatos {

            .formulario {

                #div_name_email {
                    display: inline-block;
                    width: 90vw;

                    .input {
                        width: 100%;
                    }

                    * {
                        margin: 5px 0px;
                    }
                }
            }
        }
    }
}