.aside {
    background-color: rgb(57, 55, 55);
    color: white;
    padding: 10px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.078);
    width: 230px;
    margin-left: 5px;
    border-radius: 20px;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;
    height: 86vh;
    position: fixed;

    .containerAmigos {
        .cardsAmigos {
            display: flex;
            justify-content: space-between;
            font-weight: bolder;
            padding: 10px;
            border: solid 1px transparent;
            margin-top: 15px;
            border-radius: 10px;
            transition: .5s;

            .informationsAmigo {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-left: 10px;
            }

            .span {
                display: inline-block;
                // margin: 0px 10px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: red;
            }

            &:hover {
                scale: 1.05;
                border: solid 1px rgba(255, 255, 255, 0.203);
            }
        }
    }
}